@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@400;700&display=swap');
.corinthia-regular {
  font-family: "Corinthia", cursive;
  font-weight: 400;
  font-style: normal;
}

.corinthia-bold {
  font-family: "Corinthia", cursive;
  font-weight: 700;
  font-style: normal;
}

.fade-in-up {
  opacity: 0;
  transform: translateY(50px);
  animation: fadeInUp 1s ease forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@font-face {
  font-family: 'Garet';
  src: url('/fonts/garet/Garet-Heavy.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Garet_light';
  src: url('/fonts/garet/Garet-Book.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Flatlion';
  src: url('/fonts/flatlion/Flatlion.ttf') format('woff');
  font-weight: normal;
  font-style: normal;
}